/* div.fouth-service{
    width:24%
} */

div.fouth-service > p:nth-of-type(1){
    font-size: 24px;
    margin-block-end: 8px;
    background: linear-gradient( 45deg, #ffe103 10%, #ff4d14 90%);
    font-family: 'Roboto Condensed', sans-serif;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 400;
}

div.fouth-service > p:nth-of-type(2){
    font-size: 16px;
    font-weight: 300;
    word-break: break-word;
    overflow-wrap: break-word;
}